.o {
    background-color:orange;
}

.sb {
    background-color:skyblue;
}

.p  {
    background-color: pink;
}

.y {
    background-color: yellow;
}

.r {
    background-color:red;
}

.ds {
    background-color:DarkSalmon
}

.gr {
    background-color:green; 
}
